#root {
  max-width: 1280px;
  margin: 0 auto;
}
.selector-container {
  display: flex;
  gap: 6em;
  padding: 3em 0;
  border-bottom: 1px solid var(--secondary-color);
}
.selector-container span {
  font-size: 1.8em;
  padding-right: 0.5em;
}
.date-selector {
  display: flex;
  flex-direction: column;
}
input[type="date"] {
  background-color: var(--secondary-color);
  height: 30px;
  font-size: 1.5em;
  font-family: "Poppins";
  padding: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
}
.api-selector,
.cam-selector {
  display: flex;
  flex-direction: column;
}
.api-selector select,
.cam-selector select {
  background-color: var(--secondary-color);
  height: 30px;
  font-size: 1.5em;
  font-family: "Poppins";
  border: none;
  outline: none;
  cursor: pointer;
}
